<input type=text id="new_resource"><button id="add_resource">Add Resource</button>

<table class="pure-table" id="locks">
  <thead>
      <tr>
        <th>Resource</th>
        <th>State</th>
        <th>Change</th>
      </tr>
  </thead>
  <tbody>
  </tbody>
</table>

